footer{
    background-color: var(--page-grey);
    padding: 0px 165px 92px 165px;

    hr{
        margin: 0px;
    }
}
#footer-content{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 48px;
    
}
#name_logo_footer{
    color: var(--page-white);
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.444px;
}

#social_links_footer{
    width: 12rem;
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    margin-left: auto;

    a:hover{
        svg > path {
            fill: var(--page-green);
        }
    }
}