#expert{
    padding: 0px 165px;
    background: url('../../images/pattern-rings.svg ') 130% 15% no-repeat;
    background-size: auto;
}
#work-experience{
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 3.5rem ;
    column-gap: 1.8rem;
    padding-top: 4.5rem;
    padding-bottom: .75rem;
    border-top: 2px solid var(--page-white);
}
h2{
    margin: 0;
}
#projects{
    margin-top: 8rem;
    margin-bottom: 8rem;

    #projects-top{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 5rem;

        h2{
            font-size: var(--page-heading-xl);
            line-height: var(--page-line-xl);
            font-weight: 700;
            letter-spacing: var(--page-spacing-xl);
        }
        button{
            margin-left: auto;
            height: 3rem;
        }
    }

    .projects-list{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));;
        column-gap: 1.5rem;
        row-gap: 4.25rem; 
        
        .projects-list-item{
            
            h3{
                margin: 1.25rem 0rem .5rem;
                text-transform: uppercase;
            }
            p{
                text-transform: uppercase;
                margin: 0;

                span{
                    margin-right: 18px;
                }
            }
            .projects-list-item-cover{
                position: relative;

                img{
                    width: 100%;
                }
                .projects-list-item-buttons{
                    position: absolute;
                    top: 29%;
                    left: 39%;
                    opacity: 0;
                    width: fit-content;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
    
                    button{
                        margin: 1.5rem 0rem;
                        width: fit-content;
                    }
                }
            }
            .projects-list-item-cover:hover{
                img{
                    cursor: pointer;
                    opacity: .25;
                    background-color: #000000;
                }
                .projects-list-item-buttons{
                    cursor: pointer;
                    opacity: 1;
                }
            }
        }    
    }
}