
    $page-black: #031a3d;
    $page-green: #f96703;
    $page-grey: #092b60;
    $page-light-grey: #9cadc5;
    $page-white: #f8f3ef;
  
    $page-heading-xl: 88px;
    $page-line-xl: 88px;
    $page-spacing-xl: -2.5px;
    $page-heading-l: 48px;
    $page-line-l: 56px;
    $page-spacing-l: -1.5px;
    $page-heading-m: 24px;
    $page-line-m: 32px;
    $page-p: 18px;
    $page-p-line: 28px;
  
    $tablet-heading-xl: 72px;
    $tablet-line-xl: 72px;
    $tablet-spacing-xl: -2.045px;

    $mobile-heading-xl: 40px;
    $mobile-line-xl: 40px;
    $mobile-spacing-xl: -1.136px;
    $mobile-heading-l: 32px;
    $mobile-line-l: 40px;
    $mobile-spacing-l: -1px;

    $mobile-p: 16px;
    $mobile-p-line: 26px;